.header {
    padding: 20px 0;
    display: flex;
    align-items: center;
    background-color: #222222;

}
.page-header-wrp-btn {
    display: flex;
    align-items: center;
    gap: 41px;
    margin: 0 0 0 231px;
}
.page-header-logo {

}
/* строка поиска */
.page-header-wrp-search {
    
}
.search-icon-form {
    width: 26px;
    height: 26px;
    /* margin: 0 0 0 30%; */
    position: relative;
}
.search-icon-form__input {
    /* width: 20px;
    min-height: 20px;
    padding: 5px; */
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    /* position: absolute;
    top: 40px;
    left: -119px; */
    color: #fff;
    font-size: 16px;
    
    text-transform: capitalize;
}
.search-icon-form__input:focus {
    width: 180px;
    transition: width 1s ease;
    border: 2px solid #fff;
}

.search-icon-form__input:focus ~ .search-icon-form__label>.search-icon-form__svg {
    fill: #E8E8E8;
}
.search-icon-form__label {
    display: block;
    width: 100%;
    height: 100%;
}
.search-icon-form__label:hover .search-icon-form__svg {
    fill: #F16D7F;
}
.search-icon-form__label:active .search-icon-form__svg {
    fill: #E8E8E8;
}
.search-icon-form__svg {
    width: 100%;
    height: 100%;
    fill: #E8E8E8;
}
/*иконки справа*/
.icon-btn {
    display: flex;
    align-items: center;
    gap: 33px;
    margin: 0 240px 0;
}
.menu-btn {
    width: 32px;
    height: 23px;
}
.acount-btn {
    width: 29px;
    height: 29px;
}
.basket-btn {
    width: 32px;
    height: 29px;
}
.page-header-menu {

}